<app-header></app-header>
<div class="parent-container">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
    <div fxFlex="80%">
      <mat-card>
        <app-ball-selector *ngIf="!isPlaying; else playing"></app-ball-selector>

        <ng-template #playing>
          <app-game-result id="game-panel"></app-game-result>
        </ng-template>
      </mat-card>
    </div>

    <div fxFlex="20%">
      <mat-card><app-bet-slip></app-bet-slip></mat-card>
    </div>
  </div>
</div>
