<h2>Available numbers:</h2>
<mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile *ngFor="let ball of balls; let i = index">
    <app-ball [ball]="ball" [isSelected]="ball.isSelected"></app-ball>
  </mat-grid-tile>
</mat-grid-list>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-button color="primary" (click)="clearSelection()">
    Clear selection
  </button>
</div>
