<div fxLayout="row" fxLayoutAlign="center center">
  <h3>Your selection:</h3>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="selectedBalls.length > 0; else noBallSelected">
    <div
      *ngFor="let ball of selectedBalls; let i = index"
      class="ball-container"
    >
      <app-ball [ball]="ball" [isSelected]="false"></app-ball>
    </div>
  </div>

  <ng-template #noBallSelected>
    <p>No ball selected yet</p>
  </ng-template>
</div>
<form
  id="bet-form"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
  (ngSubmit)="onSubmit()"
  [formGroup]="betForm"
>
  <mat-form-field appearance="fill" fxFlex="70" style="padding: 0">
    <mat-label>Input your bet</mat-label>
    <input
      id="bet-input"
      matInput
      name="bet-input"
      type="number"
      class="input-style"
      formControlName="bet"
    />
    <span matPrefix>x5&nbsp;</span>
  </mat-form-field>

  <div fxFlex="30">
    <button mat-raised-button color="primary" type="submit" id="bet-ok-button">
      OK
    </button>
  </div>
</form>

<div fxLayout="row" fxLayoutAlign="center center">
  <h3 id="bet-total">Total: {{ bet }} €</h3>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button
    id="btn-start-game"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="startGame()"
    [disabled]="bet == 0 || selectedBalls.length == 0"
  >
    START GAME
  </button>
</div>
