.input-style {
  text-align: center;
}

input.input-style::-webkit-outer-spin-button,
input.input-style::-webkit-inner-spin-button {
  display: none;
}

input.input-style {
  -moz-appearance: textfield;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.ball-container {
  padding: 20px;
}
