<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <h1 id="result-text">Result</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <app-ball [ball]="winningBall" [isSelected]="false"></app-ball>
</div>

<div *ngIf="isWinner; else noWinner">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h3 class="won-text">YOU WON¡</h3>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <p class="won-text">Earned money: {{ earning.toString() }} €</p>
  </div>
</div>

<ng-template #noWinner>
  <div fxLayout="row" fxLayoutAlign="center center" class="no-win-message">
    <p>Sorry, you did not win :(</p>
  </div>
</ng-template>

<div fxLayout="row" fxLayoutAlign="center center">
  <p class="info-text">You can play again in 5 seconds...</p>
</div>
